.homeContainer {
    // width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    .tasks {
        width: 70%;
        .task {
            background-color: aliceblue;
            box-shadow: 5px 5px 20px lightslategray;
            border-radius: 15px;
            padding: 2rem;
            margin: 2rem 0rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .deleteButton, .checkedTask, .uncheckedTask {
                width: 50px;
                height: 50px;
                margin: 0.5rem;
                border-radius: 15px;
                font-size: larger;
                font-weight: bolder;
                color: white;
                border: none;
                cursor: pointer;
            }

            .checkedTask {
                background-color: green;
            }
            .uncheckedTask {
                background-color: darkred;
            }
        }
    }
}